# 라이브러리 선언

In [4]:
import pandas as pd
import numpy as np

In [63]:
customerData = pd.read_csv("../dataset/customerdata.csv")

customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

# 정렬하기

In [43]:
customerData.columns

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE'], dtype='object')

In [62]:
sortKey = ["EMI","AVGPRICE"]

sortedData = customerData.sort_values(by=sortKey,
                                     ascending=[True,True],
                                    inplace=False, ignore_index=True)

sortedData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    N14862  2390.083736    1            6    1.000000        Early-bird
1    I17056  2963.370122    1            3    2.139196      Sleeping-dog
2    Y12458  2976.211190    1            3    2.199677      Sleeping-dog
3    O13586  2980.229239    1            3    2.038603      Sleeping-dog
4    Q16449  3048.308860    1            3    2.369758      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
146  H16326  3988.935304    3            6    0.900000        Early-bird
147  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
148  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
149  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]

# 집계함수

### 예제 1)

In [64]:
groupKey = ["EMI"]

meanValue = sortedData.\
    groupby(by=groupKey)\
    ["AVGPRICE"].\
    agg(["mean"])

meanValue.rename(columns={"mean":"MEAN_AVGPRICE"},
                inplace=True)

# 컬럼명 변경(mean => MEAN_AVGPRICE)
meanValue.reset_index(inplace=True)
meanValue

   EMI  MEAN_AVGPRICE
0    1    3119.031810
1    2    3441.429664
2    3    3559.487188

### 예제 2)

In [69]:
meanValue2 = sortedData.\
    groupby(by=groupKey)\
    ["AVGPRICE"].\
    agg(["count"])

In [70]:
meanValue2.rename(columns={"count":"SIZE_CS"},
                 inplace=True)

In [71]:
meanValue2.reset_index(inplace=True)

meanValue2

   EMI  SIZE_CS
0    1       11
1    2      120
2    3       19

# 고급연산 ( 이동 집계 함수)

In [76]:
sortedData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    N14862  2390.083736    1            6    1.000000        Early-bird
1    I17056  2963.370122    1            3    2.139196      Sleeping-dog
2    Y12458  2976.211190    1            3    2.199677      Sleeping-dog
3    O13586  2980.229239    1            3    2.038603      Sleeping-dog
4    Q16449  3048.308860    1            3    2.369758      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
146  H16326  3988.935304    3            6    0.900000        Early-bird
147  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
148  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
149  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]

In [75]:
sortedData.QTY.\
            rolling(window=5, 
                    min_periods=1,
                    center=True).mean()

AttributeError: 'DataFrame' object has no attribute 'QTY'